html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.script-title {
  margin-top: 1.5em !important;
}

.tokens > div {
  background: none;
}

.tokens > hr {
  opacity: 0.5;
}

.tokens .default > span {
  color: #dacc29;
}

.tokens .N > span {
  color: #41afd2;
}

.tokens .M > span {
  color: #ff8383;
}

.tokens .C > span {
  color: #42d842;
}

.tokens .O > span {
  color: #ff00e0;
}

.tokens .V {
  background-color: #222;
}

.tokens .V > span {
  color: #ddd;
}

@media only screen and (min-width: 768px) {
  .tokens > div {
    margin-right: 0.3em;
  }
  
}
